<template>
  <v-btn
    v-if="!iconOnly"
    :loading="isLoading"
    @click="FireAction()"
    :disabled="!enabled"
    :block="block === true"
  >
    <v-spacer />
    <v-icon v-if="iconName !== undefined">{{ iconName }}</v-icon>

    <span>
      {{ dynAction.displayName }}
    </span>
    <v-spacer />
    <v-icon v-if="isError === true" color="error"> mdi-camera-timer </v-icon>
    <v-icon v-if="isSuccsess === true" color="green"> mdi-check </v-icon>
  </v-btn>
  <v-icon v-else :loading="isLoading" @click="FireAction()">
    {{ iconName }}
  </v-icon>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator'
import { DynObjectAction } from './types/DynObjectAction'

@Component({})
export default class DynActionButton extends Vue {
  @Prop()
  public dynAction?: DynObjectAction

  @Prop()
  private payload?: string

  @Prop({ default: false })
  public iconOnly?: boolean

  @Prop({ default: 5000 })
  public readonly timeout!: number

  @Prop({ default: true })
  public enabled?: boolean

  @Prop({ default: false })
  public block?: boolean

  private isLoading? = false
  private isLoadingTimer?: number
  private isError = false
  private isSuccsess = false
  private iconName = ''
  private timeoutTimer?: number

  mounted(): void {
    switch (this.dynAction?.name) {
      case 'login':
        this.iconName = 'mdi-login'
        break
      case 'logout':
        this.iconName = 'mdi-logout'
        break
      case 'account-add':
        this.iconName = 'mdi-account-plus'
        break
      case 'refresh':
        this.iconName = 'mdi-refresh'
        break
      case 'edit':
        this.iconName = 'mdi-pencil'
        break
      case 'delete':
        this.iconName = 'mdi-delete'
        break
      case 'new':
        this.iconName = 'mdi-database-plus'
        break
      case 'save':
        this.iconName = 'mdi-check'
        break
      case 'close':
        this.iconName = 'mdi-close'
        break
    }

    // overwrite with icon, if provided
    if (this.dynAction?.icon) {
      this.iconName = this.dynAction.icon
    }
  }

  private buttonColor() {
    if (this.isError) {
      return 'red'
    }
    return 'primary'
  }

  private async FireAction() {
    if (this.dynAction?.onCommand != undefined) {
      this.isLoading = false
      this.isError = false
      this.isSuccsess = false

      // show loading after two seconds
      this.isLoadingTimer = window.setTimeout(() => {
        this.isLoading = true
      }, 2000)

      // start the timer for callback-action
      this.timeoutTimer = window.setTimeout(() => {
        this.isLoading = false
        this.isError = true
      }, this.timeout)

      console.debug(`Call onCommand for action '${this.dynAction.name}' ...`)
      let result = await this.dynAction.onCommand(
        this.dynAction.command,
        this.payload
      )
      console.debug(
        `Call onCommand for action '${this.dynAction.name}' ...`,
        result
      )
      this.isLoading = false
      this.isError = !result
      this.isSuccsess = result

      clearTimeout(this.timeoutTimer)
      clearTimeout(this.isLoadingTimer)
    }

    console.debug(`$emit('onAction', ${this.dynAction?.command}, payload)`)
    this.$emit('onAction', this.dynAction?.command, this.payload)
  }

  private loadingFinished() {
    this.isLoading = false
    if (this.timeoutTimer !== undefined) {
      clearTimeout(this.timeoutTimer)
    }
  }
}
</script>
