<template>
  <v-container style="padding-top: 0px">
    <v-row>
      <v-col cols="12">
        <v-toolbar dense flat>
          <v-btn-toggle dense>
            <dyn-action-button
              v-for="action in actionsOnLeft"
              :key="action.name"
              :dynAction="action"
              :iconOnly="iconOnly"
              :enabled="allButtonsEnabled"
              @onAction="onAction"
            />
          </v-btn-toggle>

          <v-spacer></v-spacer>

          <v-btn-toggle dense>
            <dyn-action-button
              v-for="action in actionsOnMid"
              :key="action.name"
              :dynAction="action"
              :iconOnly="iconOnly"
              :enabled="allButtonsEnabled"
              @onAction="onAction"
            />
          </v-btn-toggle>

          <!-- Actions -->
          <v-spacer></v-spacer>

          <v-btn-toggle dense>
            <dyn-action-button
              v-for="action in actionsOnRight"
              :key="action.name"
              :dynAction="action"
              :iconOnly="iconOnly"
              :enabled="allButtonsEnabled"
              @onAction="onAction"
            />
          </v-btn-toggle>
        </v-toolbar>
      </v-col>
    </v-row>
  </v-container>
</template>
<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { DynObjectAction } from './types/DynObjectAction'

@Component({})
export default class DynActions extends Vue {
  // Mode of the Editor
  // can be
  // - custom
  // - view
  // - create
  // - edit
  // - delete
  @Prop() public mode?: string

  @Prop({ default: false })
  public iconOnly?: boolean

  // Mode of the Editor
  @Prop() public actions?: DynObjectAction[]
  private allActions?: DynObjectAction[] = []
  private actionsOnLeft: DynObjectAction[] = []
  private actionsOnMid: DynObjectAction[] = []
  private actionsOnRight: DynObjectAction[] = []

  // This function will be called, when one of the actions fire
  @Prop() public onCommand?: (
    command: string,
    payload?: any
  ) => Promise<boolean>

  // Buttons
  buttonsSetup() {
    if (this.actions !== undefined) {
      this.allActions = this.actions
    }

    if (this.mode === 'view') {
      this.allActions = []
      this.allActions.push({
        name: 'close',
        command: 'close',
        displayName: 'Close',
      } as DynObjectAction)
    }

    if (this.mode === 'create' || this.mode === 'edit') {
      this.allActions = []
      this.allActions.push(
        {
          name: 'save',
          command: 'save',
          displayName: 'Save',
        } as DynObjectAction,
        {
          name: 'close',
          command: 'close',
          displayName: 'Close',
        } as DynObjectAction
      )
    }

    if (this.mode === 'delete') {
      this.allActions = []
      this.allActions.push(
        {
          name: 'delete',
          command: 'delete',
          displayName: 'Delete',
        } as DynObjectAction,
        {
          name: 'close',
          command: 'close',
          displayName: 'Close',
        } as DynObjectAction
      )
    }

    if (this.allActions === undefined) {
      console.warn('No action defined, element will be an empty line')
      return
    }

    // Iterate all buttons and hook the onCommand-Callback
    for (let action of this.allActions) {
      // overwrite onCommand, only if its not defined
      if (action.onCommand === undefined) {
        action.onCommand = this.onCommandCallback
      }

      switch (action.position) {
        case 'start':
          this.actionsOnLeft?.push(action)
          break
        case 'mid':
          this.actionsOnMid?.push(action)
          break
        case 'end':
          this.actionsOnRight?.push(action)
          break
        default:
          this.actionsOnRight?.push(action)
          break
      }
    }
  }

  private async onCommandCallback(command: string, payload: any) {
    this.allButtonsEnabled = false

    let globalActionResult = true
    if (this.onCommand !== undefined) {
      console.log('Call onCommand()')
      globalActionResult = await this.onCommand(command, payload)
    } else {
      console.warn('No onCommand() is defined')
    }

    this.allButtonsEnabled = true
    return globalActionResult
  }

  private allButtonsEnabled = true
  onAction(command: string, payload: any) {
    console.debug(`$emit('onAction', ${command}, payload)`)
    this.$emit('onAction', command, payload)
  }

  created() {
    this.buttonsSetup()
  }
}
</script>
