<template>
  <v-app-bar color="accent-4" dense dark>
    <v-app-bar-nav-icon @click="togglemenu()" />

    <v-toolbar-title>{{ title }}</v-toolbar-title>

    <v-spacer />
    <v-chip v-for="group in userGroups" :key="group" class="ma-2" small>
      {{ group }}
    </v-chip>
    <v-chip class="ma-2" color="primary" label>
      <v-icon left> mdi-account-circle-outline </v-icon>
      {{ userName }}
    </v-chip>
    <v-btn v-if="isLoggedIn === false" icon link to="/user/login">
      <v-icon> mdi-login </v-icon>
    </v-btn>
    <v-btn v-else icon link color="orange" to="/user/logout">
      <v-icon> mdi-logout </v-icon>
    </v-btn>
  </v-app-bar>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'

@Component
export default class DynAppBar extends Vue {
  @Prop({ default: false })
  public showmenu?: boolean

  @Prop({ default: '' })
  public title?: string

  @Prop({ default: false })
  public isLoggedIn?: boolean

  @Prop({ default: '' })
  public userName?: string

  @Prop({ default: [] })
  public userGroups?: string[]

  togglemenu() {
    this.$emit('update:showmenu', !this.showmenu)
  }
}
</script>
