<template>
  <v-row>
    <v-col cols="11">
      <!-- Inputs -->

      <v-text-field
        v-model="valueUUID"
        :id="id"
        :label="label"
        :required="required"
        readonly
      ></v-text-field>
    </v-col>
    <v-col cols="1" v-if="mode === 'create'">
      <v-container>
        <v-btn icon tile @click="generateUUID()">
          <v-icon large color="green darken-2"> mdi-refresh </v-icon>
        </v-btn>
      </v-container>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
import { v4 as uuid } from 'uuid'

@Component({})
export default class DynEditorUUID extends Vue {
  // Visabilty
  @Prop() public mode?: string
  @Prop({ required: true }) public id!: string
  @Prop() public required?: boolean
  @Prop() public label?: string
  @Prop() public value?: string
  private valueUUID?: string = ''

  created() {
    this.valueUUID = this.value
    if (this.value === '' || this.value === undefined) {
      this.generateUUID()
    }
  }

  @Watch('value')
  onValueChanged(newValue?: any) {
    this.valueUUID = newValue
    if (this.value === '' || this.value === undefined) {
      this.generateUUID()
    }
  }

  private generateUUID() {
    this.valueUUID = uuid()
  }

  @Watch('valueUUID')
  onValueUUIDChanged(newValue?: string) {
    this.$emit('changed', this.id, newValue)
    this.$emit('input', newValue)
  }
}
</script>
