<template>
  <v-row justify="center">
    <v-dialog
      v-model="isShown"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <!-- The title -->
        <v-toolbar dark :color="titleColor">
          <v-toolbar-title>{{ title }}</v-toolbar-title>
        </v-toolbar>

        <!-- An image -->
        <v-row no-gutters style="flex-wrap: nowrap">
          <v-col cols="1" class="flex-shrink-1" align="center" justify="center">
            <v-icon x-large v-if="primaryIcon !== ''">{{ primaryIcon }}</v-icon>
          </v-col>

          <v-col cols="11" class="flex-grow-1">
            <!-- Inputs -->
            <v-row
              no-gutters
              style="flex-wrap: nowrap"
              v-for="input in dynObject.inputs"
              :key="input.name"
            >
              <dyn-editor-uuid
                v-if="input.type === 'uuid'"
                :mode="mode"
                :id="input.name"
                :label="input.displayName"
                :required="input.valueMandatory"
                :value="valueGet(input.name)"
                @input="(newValue) => valueSet(input.name, newValue)"
              ></dyn-editor-uuid>

              <v-text-field
                v-if="input.type === 'string'"
                :value="valueGet(input.name)"
                @input="(newValue) => valueSet(input.name, newValue)"
                :label="input.displayName"
                :required="input.valueMandatory"
                :readonly="
                  input.valueReadOnly || mode === 'view' || mode === 'delete'
                "
                :hint="input.hint"
              ></v-text-field>

              <v-combobox
                v-if="input.type === '[]string'"
                :value="valueGet(input.name)"
                @input="(newValue) => valueSet(input.name, newValue)"
                :label="input.displayName"
                :readonly="
                  input.valueReadOnly || mode === 'view' || mode === 'delete'
                "
                :hint="input.hint"
                chips
                deletable-chips
                multiple
                :clearable="
                  !input.valueReadOnly && mode !== 'view' && mode !== 'delete'
                "
                solo
              >
              </v-combobox>

              <v-file-input
                v-if="input.type === 'file'"
                show-size
                @change="(newValue) => valueSet(input.name, newValue)"
                :label="input.name"
              ></v-file-input>
            </v-row>
          </v-col>
        </v-row>

        <!-- Actions -->
        <v-toolbar dark :color="titleColor">
          <v-spacer></v-spacer>
          <v-btn
            v-for="button in buttons"
            :key="button.text"
            :loading="button.loading"
            outlined
            dark
            @click="buttonEmitSignal(button)"
          >
            <v-icon v-if="button.icon !== ''">{{ button.icon }}</v-icon>
            {{ button.text }}
          </v-btn>
        </v-toolbar>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
import { DynObject } from './DynObject'
import { DynObjectInput } from './types/DynObjectInput'
import { DynObjectRow } from './types/DynObjectRow'

interface Button {
  text: string
  icon: string
  signal: string
  loading: boolean
}

@Component({})
export default class DynEditor extends Vue {
  // Visabilty
  public isShown?: boolean = false

  // Mode of the Editor
  @Prop() public mode?: string

  // Title
  private titleColor = 'primary'
  @Prop() public title?: string
  private titleColorSetup() {
    this.titleColor = 'primary'

    if (this.mode === 'delete') {
      this.titleColor = 'warning'
    }
  }

  // Inputs
  private editorValues?: any = {}
  private InputValueChanged(id: string, value: any) {
    if (this.editorValues === undefined) return
    this.editorValues[id] = value
  }

  get fullName(): string {
    return "this.first+ ' '+ this.last"
  }
  set fullName(newValue: string) {
    console.log(newValue)
  }

  // Buttons
  private buttons?: Button[] = []
  buttonsSetup() {
    this.buttons = []

    if (this.mode === 'create' || this.mode === 'edit') {
      this.buttons?.push({
        text: 'Save',
        icon: 'mdi-database-plus',
        signal: 'save',
        loading: false,
      } as Button)
    }

    if (this.mode === 'delete') {
      this.buttons?.push({
        text: 'Delete',
        icon: 'mdi-delete',
        signal: 'delete',
        loading: false,
      } as Button)
    }

    if (
      this.mode === undefined ||
      this.mode === '' ||
      this.mode === 'view' ||
      this.mode === 'edit' ||
      this.mode === 'create' ||
      this.mode === 'delete'
    ) {
      this.buttons?.push({
        text: 'Close',
        icon: 'mdi-close',
        signal: 'close',
        loading: false,
      } as Button)
    }
  }
  buttonEmitSignal(button: Button) {
    button.loading = true
    this.$emit('onAction', button.signal, this.editorValues, this.dynObject)
  }

  // An primary icon
  @Prop() private primaryIcon?: string
  // primaryIconSetup() {}

  // Elements in the editor
  @Prop() public dynObject?: DynObject
  // dynObjectSetup() {}

  // values
  @Prop() public values?: any
  @Watch('values')
  onValuesChanged(newValue?: any) {
    if (newValue === undefined) {
      this.editorValues = undefined
      this.isShown = false
      return
    }

    this.editorValues = Object.assign({}, newValue)
    this.titleColorSetup()
    //this.primaryIconSetup();
    //this.dynObjectSetup();
    this.buttonsSetup()

    // we check for fixed values
    this.dynObject?.inputs?.forEach((input: DynObjectInput) => {
      if (input.valueFixed !== undefined) {
        this.editorValues[input.name] = input.valueFixed
      }
    })

    this.isShown = true
  }

  valueGet(name: string): any {
    if (this.editorValues === undefined) return ''
    return this.editorValues[name]
  }

  valueSet(name: string, newValue: any) {
    if (this.editorValues === undefined) return

    this.editorValues[name] = newValue
  }

  // created() {}
}
</script>
