<template>
  <v-container style="padding-top: 0px">
    <v-data-table
      :headers="tableHeader"
      :items="tableItems"
      item-key="key"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-btn elevation="2" @click="NewField"
          ><v-icon>mdi-plus</v-icon> Neues feld</v-btn
        >
      </template>

      <template v-slot:[`item.name`]="{ item }">
        <v-row>
          <v-text-field v-model="item.name" label="Name" :value="item.name">
          </v-text-field
        ></v-row>
      </template>

      <template v-slot:[`item.type`]="{ item }">
        <v-row>
          <v-select
            v-model="item.type"
            :items="inputTypeValues"
            label="Types"
          ></v-select>
        </v-row>
      </template>

      <template v-slot:[`item.displayName`]="{ item }">
        <v-row>
          <v-text-field
            v-model="item.displayName"
            label="Display Name"
            :value="item.displayName"
          >
          </v-text-field
        ></v-row>
      </template>

      <template v-slot:[`item.hint`]="{ item }">
        <v-row>
          <v-text-field
            v-model="item.hint"
            label="Hint what to enter here"
            :value="item.hint"
          >
          </v-text-field
        ></v-row>
      </template>

      <template v-slot:[`item.options`]="{ item }">
        <v-row justify="center"
          ><v-checkbox
            v-model="item.visible"
            label="Show in tables"
          ></v-checkbox
          ><v-checkbox
            v-model="item.valueEditOnCreate"
            label="Edit only on create"
          ></v-checkbox>
          <v-checkbox
            v-model="item.valueMandatory"
            label="Mandatory"
          ></v-checkbox>
        </v-row>
        <v-row justify="center">
          <v-checkbox
            v-model="item.valueHidden"
            label="Hide value"
          ></v-checkbox>
          <v-checkbox
            v-model="item.valueReadOnly"
            label="readOnly"
          ></v-checkbox>
        </v-row>
        <v-row justify="center">
          <v-text-field
            v-model="item.valueFixed"
            label="Set a fixed value"
            :value="item.valueFixed"
          >
          </v-text-field>
        </v-row>
      </template>
    </v-data-table>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { DynObject } from './DynObject'
import { DynObjectInput } from './types/DynObjectInput'
import { Component, Prop, Watch } from 'vue-property-decorator'
import { inputTypesForCombobox } from './ValuesEditor.vue'

interface Button {
  text: string
  icon: string
  signal: string
  loading: boolean
}

@Component({})
export default class DynInputsEditor extends Vue {
  private currentObject?: DynObject = {}
  private inputTypeValues = inputTypesForCombobox

  private tableHeader: any = [
    {
      text: 'Name ( fieldname )',
      align: 'start',
      sortable: false,
      value: 'name',
    },
    {
      text: 'Type of input',
      align: 'start',
      sortable: false,
      value: 'type',
    },
    {
      text: 'Display Name',
      align: 'start',
      sortable: false,
      value: 'displayName',
    },
    {
      text: 'Hint',
      align: 'start',
      sortable: false,
      value: 'hint',
    },
    {
      text: 'options',
      align: 'center',
      sortable: false,
      value: 'options',
    },
  ]
  public tableItems?: DynObjectInput[] = []

  @Prop() private inputs?: DynObjectInput[]
  @Watch('inputs')
  private onInputsChanged(newValue?: DynObjectInput[]) {
    if (this.inputs === undefined) {
      this.tableItems = []
      return
    }

    this.tableItems = this.inputs
  }
  private inputsSetup(inputs: DynObjectInput[]) {
    this.onInputsChanged(inputs)
  }

  private created() {
    this.onInputsChanged(this.inputs)
  }

  private NewField() {
    if (this.tableItems === undefined) {
      this.tableItems = []
    }
    this.$set(this.tableItems, this.tableItems.length, {
      key: this.tableItems.length,
      name: '',
      type: 'string',
      displayName: '',
      hint: '',
      visible: true,
      valueMandatory: false,
      valueHidden: false,
      valueReadOnly: false,
      valueEditOnCreate: false,
    } as DynObjectInput)

    this.$emit('update:inputs', this.tableItems)
  }

  private Save() {
    console.log(JSON.stringify(this.tableItems, null, 2))
  }
}
</script>
