<template>
  <v-navigation-drawer
    class="elevation-5"
    :value="showmenu"
    app
    hide-overlay
    width="256"
    height="100vh"
  >
    <v-app-bar-nav-icon @click="togglemenu()" />
    <v-treeview
      :items="navigationEntrys"
      activatable
      item-key="id"
      open-on-click
    >
      <template v-slot:prepend="{ item, open }">
        <v-icon v-if="item.children">
          {{ open ? 'mdi-folder-open' : 'mdi-folder' }}
        </v-icon>
        <v-icon v-else>
          {{ item.icon }}
        </v-icon>
      </template>
      <template v-slot:label="{ item }">
        <v-list-item @click="Navigate(item)" class="custom-btn">
          <v-list-item-title>{{ item.displayText }}</v-list-item-title>
        </v-list-item>
      </template>
    </v-treeview>

    <a
      href="#"
      v-for="locale in availableLocales()"
      :key="locale.code"
      @click.prevent.stop="$i18n.setLocale(locale.code)"
      ><span :class="'flag-icon flag-icon-' + locale.flag"></span>
    </a>
  </v-navigation-drawer>
</template>

<style>
.custom-btn::before {
  color: transparent;
}

.custom-btn:hover {
  color: primary;
}
</style>

<script lang="ts">
import { LocaleObject } from 'nuxt-i18n'
import { Vue, Component, Prop } from 'vue-property-decorator'
import { INavigation } from './types/INavigation'

// :values.sync="EditorValues"
// this.$emit('EditorValues:title', newTitle)

interface IDocument {
  // nuxt-content-data
  path: string
  extension: string
  // metadata
  displayText: string
  nav: string
  icon: string
}

@Component
export default class DynNavigationBar extends Vue {
  @Prop({ default: false })
  public showmenu?: boolean

  @Prop()
  public navigationEntrys?: INavigation[]

  private open: [] = []

  // Declared as computed property getter
  togglemenu() {
    this.$emit('update:showmenu', !this.showmenu)
  }

  // public logout() {}
  public async Navigate(item: INavigation) {
    await this.$router.push(item.url!)
    this.$emit('update:showmenu', false)
  }

  availableLocales() {
    let locales = this.$i18n.locales as LocaleObject[]
    return locales.filter((i) => i.code !== this.$i18n.locale)
  }

  mounted() {}
}
</script>
