<template>
  <v-data-table
    :headers="headers"
    :items="values"
    sort-by="calories"
    class="elevation-1"
    dense
  >
    <template v-slot:item="{ item, index }">
      <tr :data-id="index">
        <td
          v-for="header in headers"
          :key="header.text"
          :class="TextAlign(header)"
        >
          {{ item.type }}
          <v-icon v-if="HeaderType(header.value) === 'icon'">{{
            item[header.value]
          }}</v-icon>
          <span v-if="HeaderType(header.value) === 'string'">{{
            item[header.value]
          }}</span>
          <span v-if="header.value === 'actions'">
            <dyn-action-button
              v-for="action in item.__actions"
              :key="action.name"
              :dynAction="action"
              :payload="item"
              :iconOnly="true"
              @onAction="onRowAction"
            />
          </span>
        </td>
      </tr>
    </template>

    <template v-for="slotname in slotsIcons" :slot="slotname" ref="">
      <v-icon :key="slotname">{{ valueGet(input.name) }}</v-icon>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
import { DynObject } from './DynObject'
import { DynObjectInput } from './types/DynObjectInput'
import { DynObjectRow } from './types/DynObjectRow'

export interface TableHeader {
  text: string
  value: string
  align?: 'start' | 'center' | 'end'
  sortable?: boolean
  filterable?: boolean
  groupable?: boolean
  divider?: boolean
  class?: string | string[]
  cellClass?: string | string[]
  width?: string | number
  filter?: (value: any, search: string, item: any) => boolean
  sort?: (a: any, b: any) => number
}

@Component({})
export default class DynTable extends Vue {
  @Prop()
  public dynObject?: DynObject

  @Prop()
  public dynObjectData?: DynObject

  // table infos
  private headers: TableHeader[] = []
  private slotsIcons: string[] = []
  private values: any[] = []

  //public created() {}

  // ##################################### Header
  private HeaderType(name: string): string {
    if (this.dynObject === undefined || this.dynObject.inputs === undefined) {
      return ''
    }
    for (let input of this.dynObject?.inputs) {
      if (input.name === name) {
        return input.type
      }
    }
    return 'string'
  }

  private TextAlign(header: TableHeader): string {
    switch (header.align) {
      case 'start':
        return 'text-left'
        break
      case 'center':
        return 'text-center'
        break
      case 'end':
        return 'text-right'
        break
    }
    return 'text-left'
  }

  // this convert dynObject to an table-header
  @Watch('dynObject')
  onDynObjectChanged(changedDynObject?: DynObject, _oldValue?: DynObject) {
    if (changedDynObject === undefined) return

    this.headers = []

    // add table headers
    if (changedDynObject.inputs !== undefined) {
      // iterate
      for (let input of changedDynObject.inputs) {
        // this input should not be shown in tables
        if (input.visible === false) {
          continue
        }

        // create a new header for the table
        const newTableHeader: TableHeader = {
          value: input.name,
          text: input.displayName,
          align: 'start',
          sortable: false,
        }

        // add it to the table
        this.headers.push(newTableHeader)
      }

      // add default action-header
      const newTableHeader: TableHeader = {
        value: 'actions',
        text: 'Actions',
        align: 'end',
        sortable: false,
      }

      // clear the data
      this.values = []

      this.headers.push(newTableHeader)
    }
  }

  // ##################################### ROWS
  private addRowToTable(row: DynObjectRow, unshift = false) {
    if (this.dynObject === undefined) return
    if (this.dynObject.inputs === undefined) return

    const newValue: any = {}

    // iterate input fields
    for (let input of this.dynObject.inputs) {
      // we check if the value with the column-name exist in the rows
      if (row.values[input.name] !== undefined) {
        newValue[input.name] = row.values[input.name]
      } else {
        newValue[input.name] = ''
      }
    }
    newValue.__actions = row.actions
    newValue.__row = row

    console.debug(newValue)

    if (unshift === false) this.values.push(newValue)
    if (unshift === true) this.values.unshift(newValue)
  }

  // fill the table-rows
  @Watch('dynObjectData')
  onDynObjectDataChanged(changedDynObject?: DynObject, _oldValue?: DynObject) {
    if (changedDynObject === undefined) return
    if (changedDynObject.rows === undefined) return

    if (this.dynObject === undefined) return
    if (this.dynObject.inputs === undefined) return

    // iterate rows
    this.values = []

    for (let row of changedDynObject.rows) {
      this.addRowToTable(row)
    }
  }

  @Prop() public addRow?: DynObjectRow
  @Watch('addRow')
  onAddRow(changedRow?: DynObjectRow, _oldValue?: DynObjectRow) {
    if (changedRow === undefined) return
    this.addRowToTable(changedRow, false)
  }

  @Prop() public addRowOnTop?: DynObjectRow
  @Watch('addRowOnTop')
  onAddRowOnTop(changedRow?: DynObjectRow, _oldValue?: DynObjectRow) {
    if (changedRow === undefined) return
    this.addRowToTable(changedRow, true)
  }

  onRowAction(action: string, payload: any) {
    const row: DynObjectRow = payload.__row
    this.$emit('onAction', action, row.values)
  }

  created() {
    this.onDynObjectChanged(this.dynObject)
    this.onDynObjectDataChanged(this.dynObjectData)
  }
}
</script>
