<template>
  <v-container style="padding-top: 0px">
    <!-- Inputs -->
    <v-row
      no-gutters
      style=""
      v-for="input in inputs"
      :key="input.name"
      class="flex-grow-1"
    >
      <dyn-editor-uuid
        v-if="input.type === 'uuid'"
        :mode="mode"
        :id="input.name"
        :label="input.displayName"
        :required="input.valueMandatory"
        :value="valueGet(input.name)"
        @input="(newValue) => valueSet(input.name, newValue)"
      ></dyn-editor-uuid>

      <v-text-field
        v-if="input.type === 'string'"
        :value="valueGet(input.name)"
        @input="(newValue) => valueSet(input.name, newValue)"
        :label="input.displayName"
        :required="input.valueMandatory"
        :readonly="input.valueReadOnly || mode === 'view' || mode === 'delete'"
        :hint="input.hint"
        :rules="input.rules"
      ></v-text-field>

      <v-text-field
        v-if="input.type === 'translatable'"
        :value="valueGet(input.name)"
        @input="(newValue) => valueSet(input.name, newValue)"
        :label="input.displayName"
        :required="input.valueMandatory"
        :readonly="input.valueReadOnly || mode === 'view' || mode === 'delete'"
        :hint="input.hint"
        :rules="input.rules"
      ></v-text-field>

      <v-combobox
        v-if="input.type === '[]string'"
        :value="valueGet(input.name)"
        @input="(newValue) => valueSet(input.name, newValue)"
        :label="input.displayName"
        :readonly="input.valueReadOnly || mode === 'view' || mode === 'delete'"
        :hint="input.hint"
        chips
        deletable-chips
        multiple
        :clearable="
          !input.valueReadOnly && mode !== 'view' && mode !== 'delete'
        "
        solo
      >
      </v-combobox>
      <v-col cols="12" v-if="input.type === 'file'">
        <v-subheader>{{ input.hint }}</v-subheader>
      </v-col>
      <v-col cols="12" v-if="input.type === 'file'">
        <v-file-input
          v-if="input.type === 'file'"
          show-size
          @change="(newValue) => valueSet(input.name, newValue)"
          :label="input.name"
        ></v-file-input>
      </v-col>

      <v-col cols="12" v-if="input.type === 'date'">
        <v-subheader>{{ input.displayName }}</v-subheader>
      </v-col>
      <v-col cols="12" v-if="input.type === 'date'">
        <v-date-picker
          landscape
          :value="valueGet(input.name)"
          @change="(newValue) => valueSet(input.name, newValue)"
        ></v-date-picker>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
import { DynObject } from './DynObject'
import { DynObjectInput } from './types/DynObjectInput'
import { DynObjectRow } from './types/DynObjectRow'

interface Button {
  text: string
  icon: string
  signal: string
  loading: boolean
}

export type mode = 'view' | 'delete'
export type inputType =
  | 'uuid'
  | 'string'
  | 'translatable'
  | '[]string'
  | 'file'
  | 'date'
export var inputTypesForCombobox: any = [
  {
    text: 'string',
    value: 'string',
  },
  {
    text: 'Translateable string',
    value: 'translatable',
  },
  {
    text: 'Array of strings',
    value: '[]string',
  },
  {
    text: 'UUID',
    value: 'uuid',
  },
  {
    text: 'File',
    value: 'file',
  },
  {
    text: 'Date',
    value: 'date',
  },
]

@Component({})
export default class DynValuesEditor extends Vue {
  // Mode of the Editor
  @Prop() public mode?: mode

  // Inputs
  @Prop() private inputs?: DynObjectInput[]
  // dynObjectSetup() {}

  // values
  public editorValues?: any = {}
  @Prop() public values?: any
  @Watch('values')
  onTemplateChanged(newValue?: any) {
    this.valuesSetup(newValue)
  }
  private valuesSetup(values: any) {
    if (values === undefined) {
      this.editorValues = undefined

      return
    }

    this.editorValues = Object.assign({}, values)
    // this.dynObjectSetup();

    // we check for fixed values
    this.inputs?.forEach((input: DynObjectInput) => {
      if (input.valueFixed !== undefined) {
        this.editorValues[input.name] = input.valueFixed
      }
    })
  }

  valueGet(name: string): any {
    if (this.editorValues === undefined) return ''
    return this.editorValues[name]
  }

  valueSet(name: string, newValue: any) {
    if (this.editorValues === undefined) return

    this.editorValues[name] = newValue
    this.$emit('update:values', this.editorValues)
  }

  created() {
    this.valuesSetup(this.values)
  }
}
</script>
