<template>
  <v-app>
    <div class="v-application d-flex flex-row" data-app="true">
      <v-container fluid style="margin: 0px; padding: 0px; width: 100%">
        <v-row no-gutters>
          <dyn-app-bar
            class="flex-col flex-grow-1"
            cols="12"
            title="DynamicComponents - DEMO"
            :isLoggedIn="isLoggedIn"
            :userName="userName"
            :userGroups="userGroups"
            :showmenu.sync="showmenu"
          />
        </v-row>
        <v-row no-gutters>
          <v-col v-if="showmenu" no-gutters sm="auto">
            <dyn-navigation
              :showmenu.sync="showmenu"
              :navigationEntrys="navigationEntrys"
            />
          </v-col>

          <v-col no-gutters style="margin: 0px; padding: 0px; width: 100%">
            <nuxt />
          </v-col>
        </v-row>
      </v-container>
    </div>
  </v-app>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator'
import { INavigation } from '../components/Dyn/types/INavigation'

export interface qommunicatorMessage {
  s?: string // timestamp
  t: string // topic
  tr?: string // topic-reply
  v: any // payload
}

var NavigationEntrys: INavigation[] = [
  {
    id: 'actionButton',
    displayText: 'Action Button',
    icon: '',
    roles: ['all'],
    url: 'actionButtons',
  },
  {
    id: 'actions',
    displayText: 'Actions - A group of Buttons',
    icon: '',
    roles: ['all'],
    url: 'actions',
  },
  {
    id: 'valuesEditor',
    displayText: 'ValuesEditor - A group of Buttons',
    icon: '',
    roles: ['all'],
    url: 'valuesEditor',
  },
  {
    id: 'table',
    displayText: 'Table',
    icon: '',
    roles: ['all'],
    url: 'table',
  },
]

@Component({
  components: {},
})
export default class ProjectPage extends Vue {
  private showmenu?: boolean = false
  private currentUserRoles: string[] = ['all', 'anonym', 'debug']
  private navigationEntrys: INavigation[] = []
  private isLoggedIn = false

  private userName = ''
  private userGroups: string[] = []

  public page?: Object = {
    title: '',
  }

  async mounted() {
    const $vm: ProjectPage = this
    this.refreshNavigations()
  }

  public refreshNavigations() {
    const $vm: ProjectPage = this
    $vm.navigationEntrys = []

    // iterate navigation items
    const storedNavs: INavigation[] = NavigationEntrys

    const newArray = storedNavs.filter(function (
      navEntry: INavigation,
      index: number
    ) {
      let accepted = false
      navEntry.roles.forEach(function (navEntryRole: string) {
        $vm.currentUserRoles.forEach(function (roleName: string) {
          if (navEntryRole === roleName) accepted = true
        })
      })

      return accepted
    })

    //
    if (newArray.length > 0) {
      $vm.navigationEntrys = newArray
    }
  }
}
</script>

<style scoped>
.theme--dark {
  background-color: var(--v-background-base, #121212) !important;
}

.theme--dark.v-application {
  background-color: var(--v-background-base, #121212) !important;
}
.theme--light.v-application {
  background-color: var(--v-background-base, white) !important;
}
</style>
