<template>
  <div class="ml-4">
    <p class="text-h5 mt-4">Actions</p>
    <p class="text-justify">
      Actions will group common action together. For example if you would like
      the create an item, you have an save-button and an cancel-button.
    </p>

    <p class="text-h5 mt-4">Create</p>
    <dyn-actions mode="create" />

    <p class="text-h5 mt-4">Delete - Icons only</p>
    <dyn-actions mode="delete" iconOnly="true" />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { DynObjectAction } from '../components/Dyn/types/DynObjectAction'

@Component({
  components: {},
})
export default class ProjectPage extends Vue {
  private dynActionSingeButton: DynObjectAction = {
    name: 'singleActionButton',
    command: 'singleActionButtonClicked',
    displayName: 'Click me !',
    onCommand: this.singleActionButtonClicked,
  }

  private dynActionTimeoutButton: DynObjectAction = {
    name: 'singleActionButton',
    command: 'singleActionButtonClicked',
    displayName: 'Click me and i will timeout !',
    onCommand: async () => {
      await new Promise((resolve) => setTimeout(resolve, 8000))
      return true
    },
  }

  private async singleActionButtonClicked(name: string, command: string) {
    console.debug('Clicked')
    this.dynActionSingeButton.displayName = 'Clicked'
    return true
  }
}
</script>
