<template>
  <div class="ml-4">
    <p class="text-h5 mt-4">A single action-button</p>
    <p class="text-justify">
      This is just a button where the response comes just in time
    </p>
    <dyn-action-button :dynAction="dynActionSingeButton" />

    <p class="text-h5 mt-4">An action that take very long</p>
    <p class="text-justify">
      When you click here, the action will take very long, timed out and
      simulations an slow network connection
    </p>
    <dyn-action-button :dynAction="dynActionTimeoutButton" />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { DynObjectAction } from '../components/Dyn/types/DynObjectAction'

@Component({
  components: {},
})
export default class ProjectPage extends Vue {
  private dynActionSingeButton: DynObjectAction = {
    name: 'singleActionButton',
    command: 'singleActionButtonClicked',
    displayName: 'Click me !',
    onCommand: this.singleActionButtonClicked,
  }

  private dynActionTimeoutButton: DynObjectAction = {
    name: 'singleActionButton',
    command: 'singleActionButtonClicked',
    displayName: 'Click me and i will timeout !',
    onCommand: async () => {
      await new Promise((resolve) => setTimeout(resolve, 8000))
      return true
    },
  }

  private async singleActionButtonClicked(name: string, command: string) {
    console.debug('Clicked')
    this.dynActionSingeButton.displayName = 'Clicked'
    return true
  }
}
</script>
