<template>
  <div />
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component({
  components: {},
})
export default class ProjectPage extends Vue {}
</script>
