<template>
  <div>
    <dyn-table :dynObject="tableHeader" :dynObjectData="tableData" />
  </div>
</template>

<script lang="ts">
import { DynObject } from '~/components/Dyn/DynObject'
import { DynObjectRow } from '~/components/Dyn/types/DynObjectRow'
import { Vue, Component, Prop } from 'vue-property-decorator'
import { DynObjectAction } from '../components/Dyn/types/DynObjectAction'

@Component({
  components: {},
})
export default class ProjectPage extends Vue {
  private tableHeader: DynObject = {
    inputs: [
      {
        name: 'username',
        displayName: 'UserName',
        type: 'string',
        visible: true,
      },
    ],
  } as DynObject

  private tableData: DynObject = {
    rows: [
      {
        values: { username: 'Admin' },
        actions: [{ name: 'refresh' } as DynObjectAction],
      } as DynObjectRow,
    ],
  } as DynObject
}
</script>
