<template>
  <div class="ml-4">
    <dyn-values-editor :inputs="inputs" :values.sync="editorValues" />
    <dyn-inputs-editor :inputs.sync="inputs" />
    <highlightjs language="json" :code="codeBoxValue" />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
import { DynObjectAction } from '../components/Dyn/types/DynObjectAction'
import { DynObjectInput } from '../components/Dyn/types/DynObjectInput'

import hljs from 'highlight.js'
import json from 'highlight.js/lib/languages/json'
import 'vue-highlight.js/lib/allLanguages'

Vue.use(hljs.vuePlugin)

@Component({})
export default class ValuesEditorPage extends Vue {
  private inputs: DynObjectInput[] = [
    {
      name: 'username',
      type: 'string',
      displayName: 'Username',
      hint: '',
      visible: true,
    } as DynObjectInput,
    {
      name: 'password',
      type: 'string',
      displayName: 'Password',
      hint: '',
      visible: false,
    } as DynObjectInput,
  ]

  private codeBoxValue?: string = ''
  private editorValues?: any = {}
  @Watch('editorValues')
  onTemplateChanged(newValue?: any) {
    this.codeBoxValue = JSON.stringify(newValue, undefined, '  ')
    hljs.highlightAll()
  }

  mounted() {
    hljs.registerLanguage('json', json)
    hljs.highlightAll()
  }

  private async handleCommand(command: string, payload: any) {
    switch (command) {
      case 'actionMid1':
        await new Promise((resolve) => setTimeout(resolve, 8000))
        return true
      case 'actionLeft1':
        return true
    }
  }
}
</script>
